.navbar{
    display: flex;
    justify-content: space-between;     
}

.menu{
    display: flex;
    width: 50%;
    height: 2.5rem;
    align-items: center;
    justify-content: flex-end;
    gap: 1.3125rem;
    flex-shrink: 0;
    margin-top: 20px;
    cursor: pointer;
}

.menu>svg{
    cursor: pointer;
}

.logo{
    display: flex;
    width: 50%;
    height: 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3125rem;
    flex-shrink: 0;
    margin-top: 27px;

}

.textoHome {
    text-align: center;
    font-family: Italiana, sans-serif; 
    font-size: 1.3rem;
    text-decoration: none; 
    position: relative;
}

.textoHome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #59291B;
    transition: width 0.3s;
}

.textoHome:hover::after {
    width: 100%;
    cursor: pointer;
}


.tituloHome{
    text-align: center;
    font-family: Italiana;
    font-size: 3.031vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icon{
    width: 4.844vw;
    height: 10.6vhvh;
    flex-shrink: 0;
    aspect-ratio: 93/106;
}

.areaRestrita{
    width: 15%;
}